.userVideos {
  margin-left: 1em;
  margin-right: 1em;
  background-color: rgb(233, 233, 233);
  margin-bottom: 1em;
  max-width: 1000px;
  padding: 20px;
  h1 {
    font-size: 4em;
    text-align: center;
    text-shadow: 10px 10px 5px white;
  }
  p{
    font-size: 2em;
    text-align: left;
  }

}
